@model SMD.Models.IdentityModels.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="input-group">
        <span class="input-group-addon" tabindex="-1"><i class="fa fa-user"></i></span>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
    </div>
    <div class="input-group">
        <span class="input-group-addon" tabindex="-1"><i class="fa fa-key"></i></span>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    </div>
    <div class="input-group">
        <span class="input-group-addon" tabindex="-1"><i class="fa fa-key"></i></span>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="Reset" class="btn btn-success col-xs-12">
        </div>
    </div>
}

