@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Cash4Ads</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE -->
    <link rel="stylesheet" href="~/content/bootstrap.min.css">

    <!-- GENERAL STYLE CSS -->
    <link rel="stylesheet" href="~/content/style.css">


    @RenderSection("COLOR", required: false)
 

    <!-- FLEXSLIDER -->
    <link href="~/content//flexslider.css" rel="stylesheet" />

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="~/content//owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/content//owl.theme.css">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/content//magnific-popup.css">

    <script src="~/scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="scroll-link" href="@Url.Action("Index", "Home")">Earn Cash</a></li>
                    <li><a class="scroll-link" href="@Url.Action("advertisers", "Home")">Want to Advertise</a></li>
                    <li><a class="scroll-link" href="@Url.Action("afilliates", "Home")">Become an Afilliate Partner</a></li>
                    <li><a class="scroll-link" href="http://blog.cash4ads.com">Blog</a></li>
                    <li><a class="scroll-link" href="http://manage.cash4ads.com">Sign In</a></li>

                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()


    <!-- Social -->
    <section id="social" class="container-fluid text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center ">
                    <ul class="social-icons list-unstyled list-inline">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-facebook fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-twitter fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-youtube fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-instagram fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:info@cash4ads.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip">
                                <!-- Change to your own email address -->
                                <div class="social-icon text-center"><i class="fa fa-envelope fa-lg"></i></div>
                            </a>
                        </li>
                    </ul>
                 
                </div>
            </div>
        </div>
    </section>
    <!-- end social -->

    <section id="footer" class="container-fluid text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center ">
                    <p>
                        Copyright © 2016 Cash4Ads.com Inc. All rights reserved.
                    </p>
                    <p>
                        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;        <a href="#">Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;     <a href="#">Site Map</a>&nbsp;&nbsp;&nbsp;&nbsp;       <a href="#">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;       <a href="#">Help Center&nbsp;&nbsp;&nbsp;&nbsp;    <a href="#">Language</a>
</p>
                </div>
            </div>
        </div>
    </section>

             




                <script src="~/scripts/jquery-2.1.4.min.js"></script>
                <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.1.4.min.js"><\/script>')</script>

                <script src="~/scripts/bootstrap.min.js"></script>

                <script src="~/scripts/main.js"></script>

                <!-- FLEXSLIDER -->
                <script src="~/scripts/jquery.flexslider-min.js"></script>

                <!-- Include js plugin -->
                <script src="~/scripts/owl.carousel.js"></script>

                <!-- Magnific Popup core JS file -->
                <script src="~/scripts/jquery.magnific-popup.js"></script>

                <!-- Isotope JS file -->
                <script src="~/scripts/jquery.isotope.min.js"></script>



</body>
</html>
