@{
    Layout = null;
    var sessionVar = Session["User"] as CrowdCentz.Models.User;
}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Cash4Ads</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE -->
    <link rel="stylesheet" href="~/content/bootstrap.min.css">

    <!-- GENERAL STYLE CSS -->
    <link rel="stylesheet" href="~/content/style.css">


    <link rel="stylesheet" href="~/content/font-awesome.min.css">


    @RenderSection("COLOR", required: false)
 

    <!-- FLEXSLIDER -->
    <link href="~/content//flexslider.css" rel="stylesheet" />

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="~/content//owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/content//owl.theme.css">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/content//magnific-popup.css">

    <script src="~/scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link href="~/content//voucher.css" rel="stylesheet" />
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72555380-1', 'auto');
    ga('send', 'pageview');

    </script>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="584729032378-al3tomni29c6uqh54kuph83dhdtl6lk4.apps.googleusercontent.com">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/"><img src="~/images/crowdcentz_logo.png" style="" class="logocash" /></a>
                <a href="/"><img src="~/images/beta.jpg" style="" class="logocashbeta" /></a>

                @*<a class="navbar-brand" href="/">Logo</a>*@
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    @if (sessionVar == null)
                    {
                      

                        <li><img src="~/images/United-Kingdom-icon.png" style="padding-top:22px;" /></li>
                        <li><a href="http://manage.cash4ads.com" title="Login" style="    padding-top: 30px;    font-size: 23px;    margin-left: 12px;">Sign In</a></li>

                    }
                    else
                    {
                        <li><a class="scroll-link" onclick="openRptViewer(1);" >My Account Activity</a></li>
                        <li><a class="scroll-link" onclick="openRptViewer(2);" >My Campaign Activity</a></li>
                        <li><a class="scroll-link" onclick="logOutFromGoogle();" href="@Url.Action("logOut", "Home")">Sign out</a></li>
                        <li><img src="~/images/United-Kingdom-icon.png" style="padding-top:22px;" /></li>

                    }
                   
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()


    <!-- Social -->
    <section id="social" class="container-fluid text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center ">
                    <ul class="social-icons list-unstyled list-inline">
                       

                        <li>
                            <a href="https://www.facebook.com/Cash4ads-567555380070390/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-facebook fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/AnnaCash4ads" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-twitter fa-lg"></i></div>
                            </a>
                        </li>

                        <li>
                            <a href="https://m.youtube.com/channel/UCgKZnVxCux7yhYPJMzO8oBA" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube" class="green-tooltip">
                                <div class="social-icon text-center"><i class="fa fa-youtube fa-lg"></i></div>
                            </a>
                        </li>

                    
                        <li>
                            <a href="mailto:anna@cash4ads.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email" class="green-tooltip">
                                <!-- Change to your own email address -->
                                <div class="social-icon text-center"><i class="fa fa-envelope fa-lg"></i></div>
                            </a>
                        </li>
                    </ul>
                 
                </div>
            </div>
        </div>
    </section>
    <!-- end social -->

    <section id="footer" class="container-fluid text-white">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center ">
                    <p>
                        Copyright © 2016 Crowd<span style="color:#93bf51">Centz</span>.com Inc. All rights reserved.
                    </p>
                    <p>
                        <a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="@Url.Action("advertisers", "Home")">Download Apps</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://manage.cash4ads.com/account/login">Sign In</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Help Center - Contact a Guru</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Training Webinars</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Become a CrowdCentz guru</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Terms of Service</a>&nbsp;&nbsp;&nbsp;&nbsp;        <a href="#">Terms of Use</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://blog.cash4ads.com" target="_blank">Blog</a> &nbsp;&nbsp;&nbsp;&nbsp;    <a href="#">Language</a>
</p>
                </div>
            </div>
        </div>
    </section>
    @*@Html.Partial("_Login")*@

    @*@Html.Partial("_ReportPartial")*@
  
                <script src="~/scripts/jquery-2.1.4.min.js"></script>
                <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.1.4.min.js"><\/script>')</script>

                <script src="~/scripts/bootstrap.min.js"></script>

                <script src="~/scripts/main.js"></script>

                <!-- FLEXSLIDER -->
                <script src="~/scripts/jquery.flexslider-min.js"></script>

                <!-- Include js plugin -->
                <script src="~/scripts/owl.carousel.js"></script>

                <!-- Magnific Popup core JS file -->
                <script src="~/scripts/jquery.magnific-popup.js"></script>

                <!-- Isotope JS file -->
                <script src="~/scripts/jquery.isotope.min.js"></script>

    <script>
       
        function getBrowserHeight() {
            var intH = 0;
            var intW = 0;
            if (typeof window.innerWidth == 'number') {
                intH = window.innerHeight;
                intW = window.innerWidth;
            }
            else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
                intH = document.documentElement.clientHeight;
                intW = document.documentElement.clientWidth;
            }
            else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
                intH = document.body.clientHeight;
                intW = document.body.clientWidth;
            }
            return { width: parseInt(intW), height: parseInt(intH) };
        }
        function logOutFromGoogle(){
                        logoutparam = true;
            //window.open("https://mail.google.com/mail/u/0/?logout&hl=en", "_blank");
            //var token = gapi.auth2.getToken();
            //if (token) {
            //    var accessToken = gapi.auth2.getToken().access_token;
            //    if (accessToken) {
            //        // make http get request towards: 'https://accounts.google.com/o/oauth2/revoke?token=' + accessToken
            //        // In angular you can do it like this:
            //        // $http({
            //        //   method: 'GET',
            //        //   url: 'https://accounts.google.com/o/oauth2/revoke?token=' + accessToken
            //        // });
            //    }
            //}
            //gapi.auth2.setToken(null);
            //gapi.auth2.signOut();
            //$.ajax({
            //    type: 'GET',
            //    url: 'https://mail.google.com/mail/u/0/?logout&hl=en',
            //    async: false,
            //    contentType: 'application/json',
            //    dataType: 'jsonp',
            //    success: function (result) {
            //        debugger
            //        window.location.href = "/Home/logOut";
            //    },
            //    error: function (e) {
            //        console.log(e);
            //    }
            //});
        }
    </script>



</body>
</html>
