@{
    ViewBag.Title = "Manage Images";
    Layout = null;

}

@model SMD.MIS.Areas.DAM.Models.ImagesModel
<link href="~/content/dam/damsite.css" rel="stylesheet" />
<link href="~/Content/DAM/ImageArea.css" rel="stylesheet" />
<link href="~/Content/themes/Centaurus/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<section id="main">
    <div class="row">
      
            <div class="row" style="padding-left:0px;min-height:400px;">
                <div class="pull-left" style="width:68%">
                    @if (Model != null && Model.Images.Count > 0)
                    {
                        <div class="imageContainer">
                            @foreach (var img in Model.Images)
                            {
                                <div class="imageBox">
                                    <img src="@img.ImageFileName" alt="Image" class="imagePreview" />
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="imageCenter">
                            No images have been uploaded so far.
                        </div>
                    }
                </div>
                <div class=" pull-left" style="width:28%">
                    @using (Html.BeginForm("UploadImage", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.X)
                        @Html.HiddenFor(model => model.Y)
                        @Html.HiddenFor(model => model.Width)
                        @Html.HiddenFor(model => model.Height)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.mode)
                        <div >
                            <div class="editor-row" style="text-align:center;">
                                -OR- <br />
                                <button class="btn  btn-success " id="uploadFileMain" style="width:80%;margin-bottom:4px;">Upload an Image</button>
                            </div>
                            <div id="upload-choices">
                                <div class="editor-row">
                                    <div class="editor-field" style="display:none;">
                                        @Html.FileFor(model => model.File)
                                        @Html.ValidationMessageFor(model => model.File)
                                    </div>
                                </div>

                            </div>
                            <div id="upload-cut" class="uploadPreview" style="display:none;">
                                <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Content/DAM/empty.png")" style="height:300px;" /><br />
                                <div class="clear" style="text-align:center;">
                                    <button type="submit" class="btn  btn-primary " id="btnSave">Crop & Upload</button>
                                </div>
                            </div>
                           
                        </div>
                    }
                </div>
               
            </div>
        
        
    </div>
   
</section>


@section Scripts{
   


}
<script src="~/Scripts/jquery-2.1.0.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.imgareaselect.js")"></script>
<script>
    $(document).ready(function () {
        //Get the checkboxes and disable them
        //var boxes = $('input[type=checkbox]').attr('disabled', true);

        //Get the preview image and set the onload event handler
        var preview = $('#preview').load(function () {
            
            var coords;
            var height = (this.width / ratioX) * ratioY;
            if (height <= this.height) {
                var diff = (this.height - height) / 2;
                coords = { x1: 0, y1: diff, x2: this.width, y2: height + diff, show: true };
            }
            else { // if new height out of bounds, scale width instead
                var width = (this.height / ratioY) * ratioX;
                var diff = (this.width - width) / 2;
                coords = { x1: diff, y1: 0, x2: width + diff, y2: this.height, show: true };
            }
            //ias.imgAreaSelect(coords);
            if (ias != undefined)
                ias.setOptions(coords);
            var scale = preview[0].naturalWidth / preview.width();
            var _f = Math.floor;
            setPreview(_f(scale * coords.x1), _f(scale * coords.y1), _f(scale * coords.width), _f(scale * coords.height));
        });

        //Set the 4 coordinates for the cropping
        var setPreview = function (x, y, w, h) {
            $('#X').val(x || 0);
            $('#Y').val(y || 0);
            $('#Width').val(w || preview[0].naturalWidth);
            $('#Height').val(h || preview[0].naturalHeight);
        };
        var mode = GetURLParameter("mode");
        var aspectRatio = "2:1",minheight = 200, minWidth = 400;
        var ratioX = 2, ratioY = 1;
        if(mode == 2) {
            aspectRatio = "8:5";
            minheight = 250;
            minWidth = 400
        } else  if(mode == 3) {
            aspectRatio = "8:5";
            minheight = 250;
            minWidth = 400
        } else if (mode == 4) {
            minheight =400;
            minWidth = 200
            aspectRatio = "1:2";
        }
        //Initialize the image area select plugin
        var ias = preview.imgAreaSelect({
            handles: true,
            aspectRatio:aspectRatio,
            instance: true,
            parent: 'body',
            onSelectEnd: function (s, e) {
                var scale = preview[0].naturalWidth / preview.width();
                var _f = Math.floor;
                setPreview(_f(scale * e.x1), _f(scale * e.y1), _f(scale * e.width), _f(scale * e.height));
            },
            onInit: function () {
               
            }
        });

        //Check one of the checkboxes
        var setBox = function (filter) {
            $('#btnSave').attr('disabled', false);
         //   boxes.attr('checked', false)
           // .filter(filter).attr({ 'checked': true, 'disabled': false });
        };

        //Initial state of X, Y, Width and Height is 0 0 1 1
        setPreview(0, 0, 1, 1);

        //What happens if the File changes?
        $('#File').change(function (evt) {
   
            var f = evt.target.files[0];
            var reader = new FileReader();

            if (!f.type.match('image.*')) {
                alert("The selected file does not appear to be an image.");
                return;
            }

            setBox('#IsFile');
            reader.onload = function (e) {
                preview.attr('src', e.target.result);
                $(".uploadPreview").css("display","block");
              
            };
            reader.readAsDataURL(f);
        });

        //What happens if any checkbox is checked ?!
        //boxes.change(function () {
        //    setBox(this);
        //    $('#' + this.id.substr(2)).change();
        //});

        
        $('form').submit(function () {
            $('#btnSave').attr('disabled', true).text('Please wait ...');
        });
        $("#uploadFileMain").click(function () {
            $('#File').click();
            return false;
        });
        $('#btnSave').attr('disabled', true);
    });
    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
    }
    window.onload = function () {
        try {
            parent.iframeLoaded();
        } catch (e) {

        }
        
    }
</script>