@{ 
    string classes = "";
    string classesMenu = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }

    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="theme-blue-gradient">

    <header class="navbar" id="header-navbar">
        <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px; background-color: #3dd2b5; position: absolute; margin-top: 100px;"></div>

        <div class="container" style="height:100px;">
            <a href="~/" id="header" class="my-navigator navbar-brand logoAnchor" style="background-image: url(@Url.Content("~/Images/ads.png")); background-repeat: no-repeat;background-size: 42%;margin-top: 5px;margin-left: 5px;">
            </a>
            <a href="~/" id="beta" style="
        background-image: url(/Images/beta.jpg);
    background-repeat: no-repeat;
    background-size: 63%;
    margin-top: 5px;
    margin-left: 5px;
    width: 72px;
    height: 18px;
    position: absolute;
    left: 73px;">

            </a>
            <div class="clearfix">

                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" style="margin-top:23px;">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            @if (!User.IsInRole("User"))
                            { 
                                <a class="btn" id="make-small-nav">
                                    <i class="fa fa-bars"></i>
                                </a>
                            }
                            else
                            {
                                classes = "removeMenuMargin";
                                classesMenu = "displayNone";
                            }
                        </li>
                    </ul>
                </div>


                <div class="nav-no-collapse pull-right" id="header-nav" style="margin-top:23px;">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name
                                    }
                                </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">

                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/User/ManageUser/Index">Profile</a></li>
                                <li id="licrm"><a href="~/survey" class="my-navigator">My Survey Questions</a> </li>
                                <li><a href="~/Billing/Manage/Invoice" >Invoices</a></li>
                                <li><a href="~/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="~/Account/LogOff">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <div id="page-wrapper" class="container">

        <div class="row">
      
            
            <div id="nav-col" class="@classesMenu">


                @*<a id="menu-logo" href="~/Dashboard/Index">
                        <img src="~/Content/themes/Centaurus/img/logo.png" alt="" class="normal-logo logo-white" height="30" width="180" style="margin-left:17px;margin-top:50px;margin-bottom:50px;" />
                    </a>*@
                <section id="col-left" class="col-left-nano">
                    @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <div id="col-left-inner" class="col-left-nano-content">

                            @RenderSection("leftmenue", required: false)


                            @* left menue starts here*@
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked" id="Navigation-bar">

                                    <li id="licrm">
                                        <a href="~/survey" class="my-navigator">
                                            <i class="fa fa-users"></i>
                                            <span>My Survey Questions</span>
                                        </a>
                                    </li>
                                    <li id="listores">
                                        <a href="~/Ads/Ads/Index" class="my-navigator">
                                            <i class="fa fa-th-large"></i>
                                            <span>My Ad Campaigns</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="dropdown-toggle">
                                            <i class="fa fa-desktop"></i>
                                            <span>System</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu" style="display: none;">

                                            <li id="lidashboard">
                                                <a href="~/ProfileQuestion/Manage/Index" class="my-navigator" id="anchor-dashboard">
                                                    <i class="fa fa-dashboard"></i>
                                                    <span>System Profile Questions</span>
                                                </a>

                                            </li>
                                            <li id="listores">
                                                <a href="~/Survey/SurveyQuestionApproval" class="my-navigator">
                                                    <i class="fa fa-th-large"></i>
                                                    <span>Approve Survey Questions</span>
                                                </a>
                                            </li>
                                            <li id="listores">
                                                <a href="~/Ads/Ads/AddAproval" class="my-navigator">
                                                    <i class="fa fa-th-large"></i>
                                                    <span>Approve Ad Campaigns</span>
                                                </a>
                                            </li>
                                            <li id="listores">
                                                <a href="~/Billing/Manage/Invoice" class="my-navigator">
                                                    <i class="fa fa-th-large"></i>
                                                    <span>Invoices</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                </ul>
                            </div>
                            @* Left menue ends here*@

                        </div>
                    }
                </section>

            </div>
            
            @*content wrapper goes here*@
            <div id="content-wrapper" class="@classes">
                @RenderBody()
                <div id="spinner" style="display: none">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year Powered by Cash4Ads(UK)
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script>

        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);

    </script>

    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script>
        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });


        });
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>
