@using SMD.Models.Common
@using SMD.Common
@{
    string classes = "";
    string classesMenu = "";


    IEnumerable<CompanyIdClaimValue> companyClaimValues = ClaimHelper.GetClaimsByType<CompanyIdClaimValue>(SmdClaimTypes.CompanyId);
    string CompanyName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyName : "Company Not Loaded";
    string CompanyLogo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyLogo : "Claim not found";
    string userName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).UserName : "Claim not found";
    string MobileNo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).MobileNumber : "Claim not found";
    string CompanyID = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyId.ToString() : "Claim not found";
    
    string Email = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).Email : "Claim not found";
    
    IEnumerable<SmdRoleClaimValue> roleClaim = ClaimHelper.GetClaimsByType<SmdRoleClaimValue>(SmdClaimTypes.Role);

    string RoleName = roleClaim != null && roleClaim.Any() ? roleClaim.ElementAt(0).Role : "Role Not Loaded";
    string RoleId = roleClaim != null && roleClaim.Any() ? roleClaim.ElementAt(0).RoleId : "Role Not Loaded";
    var Name = string.Empty;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_N_x3UhG5IHl8GUZ4y5Lj_QkNhGUh91I" type="text/javascript"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    @* these two css files are bundled into centaurus now.
            <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />*@
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")

    <link href="~/Content/metroUI/css/metro.css" rel="stylesheet" />
    <link href="~/Content/textboxLabel.css" rel="stylesheet" />
    <script src="~/Content/metroUI/js/metro.js"></script>
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }
    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="/favicon.png" rel="shortcut icon" />
    @if (HttpContext.Current.Request.IsLocal == false)
    {


    }
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="~/Content/CSS/intlTelInput.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->


    <script>
    
    
    var gCompanyID = @CompanyID;
    var UserRoleId = '@RoleId';
    var url='http://www.w3schools.com/js/js_datatypes.asp';
   // alert(url);
  // var  gCompanyLogo='/@CompanyLogo'

  //  alert(UserRoleId);
    </script>
</head>
<body class="theme-blue-gradient">
    <header class="navbar" id="header-navbar">
        <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px;position: absolute; margin-top: 100px;"></div>
        <div class="container" style="height:100px;" id="">



            <a href="~/" id="header" class="cashlogox my-navigator navbar-brand logoAnchor "></a>



            <a href="~/" id="beta" class="cashbeta"></a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    @*<span class="fa fa-bars"></span>*@
                </button>

                <div style="display:inline-block;margin-top:32px;width:677px;">
                    <div style="float:right;">
                        @*<div class="pull-left" style="display:inline-block;margin-top:20px;">*@
                            @*<p style="box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white;margin-bottom:3px;display:inline-block;font-size:11px;">
                                 Advertiser Dashboard for
                                </p>*@
                            @*<p style="font-size:14px;color:white;">@CompanyName</p>*@
                        @*</div>*@
                        @*<div class="pull-left" style="color:white;margin-left: 10px;margin-top: 4px;margin-right: -5px;"><img style="width:60px;height:33px;background-color: white;border-radius: 5px;" src="~/@CompanyLogo" /></div>*@
                    </div>
                </div>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" style="margin-top:23px;">
                    @*<span style="font-size: 3em;color:white;padding-left:200px;">Targeting Material</span>*@
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            @if (!User.IsInRole("User"))
                            {
                                @*<a class="btn" id="make-small-nav">
                                        <i class="fa fa-bars"></i>
                                    </a>*@
                            }
                            else
                            {
                                //  classes = "removeMenuMargin";
                                classesMenu = "displayNone";
                            }
                        </li>
                    </ul>
                </div>



                <div class="nav-no-collapse pull-right" id="header-nav" style="margin-top:35px;">

                    <ul class="nav navbar-nav pull-right">
                        <!-- MPC Admin Menu-->
                        <li class="dropdown profile-dropdown @classesMenu" style="display:none;">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                                <span class="hidden-xs"> Admin Options  </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Approve/Reject </a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval">&nbsp;&nbsp; Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Survey/SurveyQuestionApproval">&nbsp;&nbsp;User Suvey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval?mode=2">&nbsp;&nbsp;Coupons</a></li>
                                <li><a href="">Edit</a></li>
                                <li class="inlineMenuItem"><a href="~/ProfileQuestion/Manage/Index">&nbsp;&nbsp;Profile Questions</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;Survey Questions</a></li>
                                <li><a href="">View</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/Index">&nbsp;&nbsp;All Live Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;All Live Survey Slides</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Reports and Analytics</a></li>
                                <li><a href="~/Report/Report/TransactionReport">Cash4Ads Transaction Report</a></li>
                            </ul>
                        </li>
                        <!-- Normal Menu-->

                        <li>
                            <a style="padding-right:7px!important;padding-top:0px!important;">
                                @if (!String.IsNullOrEmpty(CompanyLogo))
                                {
                                    <img style="width:60px;height:36px;background-color: white;border-radius: 5px;" id="companyLogo" src="~/@CompanyLogo" />
                                }
                                else
                                {
                                    <img style="width:60px;height:36px;background-color: white;border-radius: 5px;" id="companyLogo" src="@CompanyLogo" />
                                }
                               
                            </a>
                        </li>
                        
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle dash_header-btn" data-toggle="dropdown">
                                <span class="hidden-xs" style="font-size:14px;">
                                    @if (!String.IsNullOrEmpty(userName))
                                    {
                                        @userName;
                                                 Name = userName;
                                    }
                                    else
                                    {
                                        if (User != null && User.Identity != null)
                                        {
                                            @User.Identity.Name;
                                                               Name = User.Identity.Name;
                                        }
                                    }


                                @*</span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>*@
                            </a>
                            <ul class="dropdown-menu loginMenu">

                                <li><span  style="color:#ada7a7;margin-left:36px;font-size:13px;">@Name</span></li>
                                <li><span style="color:#ada7a7;margin-left:36px;font-size:13px;">@Email</span></li>
                                <li><span style="color:#ada7a7;margin-left:36px;font-size:13px;">@MobileNo</span></li>
                                <li><span style="color:#ada7a7;margin-left:36px;font-size:13px;">Role : @RoleName</span></li>
                                @*<li style="height:9px;"></li>*@
                                <li style="display: block;
                                margin-top: 0.5em;
                                margin-bottom: 0.5em;
                                margin-left: auto;
                                margin-right: auto;
                                border-style: inset;
                                border-width: 1px;"></li>

                              
                                @*<li id="userProfileBinding"><a data-bind="click:showUserProfileDialog">Personal Profile</a></li>*@
                                <li id="companyProfileBinding"><a  id ="cprofile"style="cursor: pointer" data-bind="click:showCompanyProfileDialog">Account Settings</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Billing History</a></li>

                                <li><a href="/User/ManageUser/ManageUsers">Manage Users</a></li>
                                <li><a onclick="OpenBranchLocation();">Manage Branches</a></li>
                                <li><a href="/Coupons/Coupons/CouponReviews">Manage Reviews</a></li>
                                @*<li><a href="/DamImages/Grid">Image library</a></li>*@
                                @*<li><a onclick="OpenPhraseLibrary();">Phrase library</a></li>*@

                                <li style="display: block;
                                margin-top: 0.5em;
                                margin-bottom: 0.5em;
                                margin-left: auto;
                                margin-right: auto;
                                border-style: inset;
                                border-width: 1px;"></li>
                                @*<li><a href="~/">Analytics and Charts</a></li>*@
                                <li><a class=" " id="btnWalletHistory" href="~/Report/report/WalletReport">Wallet History</a></li>
                                <li ><a class=" " id="btnReferAdvert"  href="~/Report/report/ManageAdvertises">Manage Advertisers</a></li>  @*href="~/Report/report/ManageAdvertises" use this link when you nedd for now we are disabled it*@
                                
                                @*<li class="inlineMenuItem"><a href="~/Billing/Manage/Invoice">&nbsp;&nbsp;View Invoices</a></li>
                                    <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Payment Methods</a></li>*@

                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>

                                <li><a href="">Delete my Account</a></li>

                                @*<li><a href="">Ad Campaigns</a></li>
                                    <li class="inlineMenuItem" style="display:none;"><a href="~/Ads/Ads">&nbsp;&nbsp;Create Ad Campaigns</a></li>
                                    <li class="inlineMenuItem"><a href="~/Ads/Ads">&nbsp;&nbsp;View Ad Campaigns</a></li>
                                    <li><a href="">Survey Slides</a></li>
                                    <li class="inlineMenuItem" style="display:none;"><a href="~/survey">&nbsp;&nbsp;Create Survey Slides</a></li>
                                    <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;View Survey Slides</a></li>*@

                                @*<li class=""><a href="~/user/ManageUser/ManageUsers">Invite users </a></li>*@

                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>
                                
                                <li><a href="~/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        @*<li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">
                                        <i class="fa fa-life-ring"></i>
                                    </span> <b class="caret"></b>

                                </a>
                                <ul class="dropdown-menu loginMenu">
                                    <li><a href="">Startup Guide</a></li>
                                    <li><a href="">Training Videos</a></li>
                                    <li><a href="">Help Center</a></li>
                                    <li><a href="">Contact Us</a></li>
                                </ul>
                            </li>*@

                        <li>
                            <a href="http://cash4ads.com/" target="_blank" class="dash_header-btn icon-lg icon-information">

                                @*<i class=" fa fa-life-ring">
            </i>*@
                                <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size:19px;"></i>
                            </a>
                        </li>

                        <li>
                            <a class="dash_header-btn icon-lg icon-information" href="/Coupons/Coupons/CouponReviews">

                                @*<i class=" fa fa-life-ring">
                                </i>*@
                                <i class="fa fa-bell" id="whiteicon"  aria-hidden="true" style="font-size:19px; color:white;display:none"></i>
                                <img style="height:25px;width:25px; display:none" id ="imgRedbell"src="/images/Red_Bell.png" />
                            </a>
                        </li>
                        @*<li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs" style="color:#fff;">
                                    <i class="fa fa-life-ring"></i>
                                </span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu loginMenu">
                                <li><a href="/Home/StartupGuide">Startup Guide</a></li>
                                <li><a href="/Home/TrainingVideos">Training Videos</a></li>
                                <li><a href="/Home/ContactUs">Contact Us</a></li>
                            </ul>
                        </li>*@

                        
                        <li class="hidden-xxs">
                            <a class="dash_header-btn icon-lg icon-information" href="~/Account/LogOff">
                                <i class="fa fa-power-off" style="font-size:19px; color:white;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row topMenuBtns">


            @RenderSection("leftmenue", required: false)

            @*content wrapper goes here*@
            <div id="content-wrapper" class="removeMenuMargin">

                <div class="row" id="panelArea" style="display:none;">




                    <div id="MarketobjDiv" class="col-sm-8 pull-left" style="height:46px;padding-left:0px;display:none;">
                        <div class="pull-left hideInCoupons" style=" position: absolute;top:51%;">
                            @*<span style="font-weight:bold;color:#7f8c8d;font-size:14px;">Post deals for free – </span>*@
                            <span style="color:#7f8c8d;font-size:14px;" class="home_pagefontsize">Achieve your marketing objectives with …</span>
                        </div>
                        <div class="pull-right hideInCoupons" style="position: absolute;margin-left: 735px;">
                            @*<div class="pull-left" style="position: absolute;margin-left: -65px;margin-top: 16px;">Help center</div>


                                <div class="pull-right">

                                    <ul class="nav navbar-nav pull-right" style="width:140px;">
                                        <li class="dropdown profile-dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="hidden-xs">
                                                    <i class="fa fa-life-ring"></i>
                                                </span> <b class="caret"></b>

                                            </a>
                                            <ul class="dropdown-menu loginMenu">
                                                <li><a href="~/Home/StartupGuide">Startup Guide</a></li>
                                                <li><a href="~/Home/TrainingVideos">Training Videos</a></li>
                                                <li><a href="~/Home/ContactUs">Contact Us</a></li>
                                            </ul>
                                        </li>
                                    </ul>



                                </div>*@




                        </div>


                    </div>
                    <div class="col-sm-4 pull-left hideInCoupons" style="height:46px;padding-left:46px;color: black;">

                        @*<span class="line-separator"></span>
                        <div class="pull-left">
                            <span class="pull-left" style="color:#7f8c8d;font-size:13px;">Generate Income <br />Refer Businesses - <b style="color: #3498db;">Earn 25% </b></span>
                        </div>*@

                        @*<div class="pull-right" style="width:153px;">

                            <span class="pull-left home_pagefontsize" style="margin-left:11px;margin-top:16px;display:none;">Help center</span>

                            <div class="pull-right" style="width:59px;">
                                <ul class="nav navbar-nav " style="width:140px;margin-right:-6px;">
                                    <li class="dropdown profile-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="hidden-xs" style="color:#fff;">
                                                <i class="fa fa-life-ring"></i>
                                            </span> <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu loginMenu">
                                            <li><a href="~/Home/StartupGuide">Startup Guide</a></li>
                                            <li><a href="~/Home/TrainingVideos">Training Videos</a></li>
                                            <li><a href="~/Home/ContactUs">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                            <div style="clear:both;"></div>
                        </div>*@

                        <div style="clear:both;"></div>
                    </div>

                </div>
                <div class="row" id="topArea" style="margin-left:-15px;">
                    <div class="row dash_slide_panel" id="slider" style="padding:0px;">
                        <div id="gallery">
                            
                            <a href="#" class="show">
                                <img src="~/Content/DashBannnerImages/Banner_1_deals.jpg" />
                                
                            </a>
                           
                            <a href="#" >

                                <img src="~/Content/DashBannnerImages/Banner_2_Videos.jpg" />
                            </a>
                            <a href="#" >

                                <img src="~/Content/DashBannnerImages/Banner_3_Games.jpg" />
                            </a>

                            <a href="#" >

                                <img src="~/Content/DashBannnerImages/Banner_4_Polls.jpg" />
                            </a>

                           
                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="row" id="main_btnPannels">
                        <div class="col-lg-12" style="padding-top:3px;padding-left:0px;">

                            @*<a class="btn  btn-default btn-gray" style="float:left;width:136px;height:58px;white-space:normal;    padding-top: 18px;" href="/Coupons/Coupons" id="btnCoupons">Deals </a>
                            <a class="btn  btn-default btn-gray" style="float:left; width:136px;height:58px;padding-top:16px;margin-right:15px; white-space:normal;" id="btncampaigns" href="/Ads/Ads?mode=1">Videos ads</a>
                            <a class="btn  btn-default btn-gray" style="float:left; width:136px;height:58px;padding-top:16px;margin-right:15px; white-space:normal;" id="btnspnsergames" href="/Ads/Ads?mode=4">Display Ads</a>
                            <a class="btn  btn-default btn-gray" style="display:none;float:left;width:136px;height:58px;padding-top:16px;white-space:normal;" href="/Survey/" id="btnSurvey">Polls</a>
                            <a class="btn  btn-default btn-gray" style="float:left;width:136px;height:58px;padding-top:16px;white-space:normal;" href="~/ProfileQuestion/Manage/Index" id="btnSurveyQuestion">Surveys</a>*@

                            <div id="Counter_panel" class="homePanels pull-left bluebck">
                                <div style="margin-top:10px;">
                                    <span id="deal_heading" class="homePanels_headers" style="color: rgb(255, 255, 255); margin-left:13px;">Live Campaigns</span>
                                </div>
                                <div class="margintop8px">
                                    <div class="pull-left couters_left cnt_left_width" style="color:white;" onclick="GoToDeals();">Deals</div><div class="pull-right couters_Right cnt_right_right " onclick="GoToDeals();" data-bind="    text:$root.LiveCoupons()" style="color:white;"></div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="margintop8px">
                                    <div class="pull-left couters_left cnt_left_width" style="color:white;" onclick="GotoVideoAds();">Video Ads</div><div class="pull-right couters_Right cnt_right_right " onclick="GotoVideoAds();" data-bind="    text:$root.LiveVidCampaign()" style="color:white;"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="margintop8px">
                                    <div class="pull-left couters_left cnt_left_width" style="color:white;" onclick="GotodisplayAds();">Display Ads</div><div class="pull-right couters_Right cnt_right_right " onclick="GotodisplayAds();" data-bind="    text:$root.LiveDisplayCampaign()" style="color:white;"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="margintop8px">
                                    <div class="pull-left couters_left cnt_left_width" style="color:white;" onclick="Gotopolls();">Picture Polls</div><div class="pull-right couters_Right cnt_right_right " onclick="Gotopolls();" data-bind="    text:$root.LivePolls()" style="color:white;"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>


                            <div id="deals_btn" class="homePanels pull-left" onclick="GoToDeals()">
                                
                                <div class="dealfront" style="margin-top:10px;">
                                    <div class="pull-left"><span id="deal_heading" class="homePanels_headers">Deal Listings </span></div><div class="pull-right" style="width:53px;"><i class="fa fa-play  font-size13 play_btn" aria-hidden="true" style="color: rgb(103, 103, 103) !important;display:none;"></i> <i class="fa fa-plus plus_btn  font-size13 pull-right" aria-hidden="true" style="color: rgb(103, 103, 103) !important;"></i><div class="clearfix"></div></div>
                                    <div class="clearfix"></div>
                                </div>
                               
                                <br>
                                <div class="pg dealspanel" id="content_div">


                                    <div class="panel_Image">
                                        <img src="/Content/Images/Deals_Small.png" />
                                        
                                    </div>

                                    <div class="Dealdescription_panel">
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Link deals to landing pages.</div>

                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;">No fees for any referrals.</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;"> Group deals together.</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <br />
                                        <div>
                                            <div class="fbold" style="margin-left:3px;">List 1 deal – FREE.</div>
                                        </div>

                                        <div>
                                            <div class="pull-left fbold" style="margin-left:3px;">Unlimited Deals - $19 /pm</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          

                            <div id="video_ads_btn" class="homePanels pull-left" onclick="GotoVideoAds()">
                                <div style="margin-top:10px;" class="video_front">
                                    <div class="pull-left"><span id="video_heading" class="homePanels_headers">Video Ads </span></div><div class="pull-right" style="width:53px;"><i class="fa fa-play  font-size13 play_btn" aria-hidden="true" style="color: rgb(103, 103, 103) !important;display:none;"></i> <i class="fa fa-plus plus_btn  font-size13 pull-right" aria-hidden="true" style="color: rgb(103, 103, 103) !important;"></i><div class="clearfix"></div></div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="pg videopanel" id="content_div">
                                    <div class="panel_Image">
                                        <img src="/Content/Images/Videos_small.png" />
                                    </div>
                                    <div class="Dealdescription_panel">
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Broadcast full length video ads.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;">Ask an insight and get answer.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;"> Link campaigns together.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;"> Target mobile users.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <br />

                                        <div>
                                            <div class="fbold">Pay Per Result (PPR) min. $0.16</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="display_ads_btn" class="homePanels pull-left" onclick="GotodisplayAds()">
                                <div style="margin-top:10px;"  class="display_front">
                                    <div class="pull-left"><span id="display_heading" class="homePanels_headers">Display Ads</span></div><div class="pull-right" style="width:53px;"><i class="fa fa-play  font-size13 play_btn" aria-hidden="true" style="color: rgb(103, 103, 103) !important;display:none;"></i> <i class="fa fa-plus plus_btn  font-size13 pull-right" aria-hidden="true" style="color: rgb(103, 103, 103) !important;"></i><div class="clearfix"></div></div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="pg displayadspanel" id="content_div">
                                    <div class="panel_Image">
                                        <img src="/Content/Images/Display_small.png" />
                                    </div>
                                    <div class="Dealdescription_panel" >
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Drive audiences to landing pages</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;">Sponsor Brain Training Games.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Ask an insight and get answer.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Link campaigns together.</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <br />
                                        <div>
                                            <div class="fbold">Pay Per Result (PPR) min. $0.08</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="Polls_btn" class="homePanels pull-left" onclick="Gotopolls()">
                                <div style="margin-top:10px;" class="polls_front">
                                    <div class="pull-left"><span id="polls_heading" class="homePanels_headers">Picture Polls</span></div><div class="pull-right" style="width:53px;"><i class="fa fa-play  font-size13 play_btn" aria-hidden="true" style="color: rgb(103, 103, 103) !important;display:none;"></i> <i class="fa fa-plus plus_btn  font-size13 pull-right" aria-hidden="true" style="color: rgb(103, 103, 103) !important;"></i><div class="clearfix"></div></div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="pg pollspanel" id="content_div">
                                    <div class="panel_Image">
                                        <img src="/Content/Images/Polls_small.png" />
                                    </div>
                                    <div class="Dealdescription_panel">
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Conduct a 2 Picture card poll.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;">Retarget using responses.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Export Analytics.</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <br />
                                        <div>
                                            <div class="fbold">$19 per Poll.</div>
                                        </div>
                                        <div>
                                            <div class="fbold">Plus $0.04 Per Poll response.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div id="surveyQuestion_btn" class="homePanels pull-left" onclick="Gotosurveys()" style="display:none;">
                                <div style="margin-top:10px;" class="survey_front">
                                    <div class="pull-left"><span id="surveysheading" class="homePanels_headers">Surveys</span></div><div class="pull-right" style="width:53px;"><i class="fa fa-play  font-size13 play_btn" aria-hidden="true" style="color: rgb(103, 103, 103) !important;display:none;"></i> <i class="fa fa-plus plus_btn  font-size13 pull-right" aria-hidden="true" style="color: rgb(103, 103, 103) !important;"></i><div class="clearfix"></div></div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                <div class="pg surveypanel" id="content_div">
                                    <div class="panel_Image">
                                        <img src="/Content/Images/Surveys_small.png" />
                                    </div>
                                    <div class="Dealdescription_panel">
                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">1 Question & Up to 6 choices.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i>  </div><div class="pull-left" style="margin-left:3px;">Retarget using responses.</div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div>
                                            <div class="pull-left"><i class="fa fa-circle greyclr fontsize4" aria-hidden="true"></i> </div> <div class="pull-left" style="margin-left:3px;">Export Analytics.</div>
                                            <div class="clearfix"></div>
                                        </div>


                                        <br />
                                        <div>
                                            <div class="fbold">$19 per Survey.</div>

                                        </div>
                                        <div>
                                            <div class="fbold">Plus $0.04 Per Survey response</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-sm-4 hideInCoupons" style="padding-left:42px;margin-top:3px;display:none;">
                            <div id="InviteUserBinding" style="display:none">
                                <a class="btn btn-default btn-gray" data-bind="click:showInviteUserPopup" id="btninviteusers" style="  height:58px;  width: 136px;float:right;margin-right:50px;padding-top:17px">Invite users</a>

                            </div>
                            @*<a class="btn btn-default btn-gray " href="~/ProfileQuestion/Manage/Index" id="btninviteusers" style=" width:136px;float:left;margin-right:20px;font-size:14px;padding-top:17px; height:58px;" href="#">Invite Business</a>*@

                            @*<a class="btn btn-default btn-gray " id="btnWallet" style=" width:136px;float:left;margin-right:0px;font-size:14px;height:58px;padding-top:17px" href="~/Report/report/WalletReport">Wallet History</a>*@

                            <br />
                            <br />
                            <br />

                            <span style="color:#7f8c8d;font-size:13px;display:none;" id="MainSpan">
                                Become a country partner
                                <a style="color:#7f8c8d;font-size:14px; color:#3498db; font-weight:bold;" href="mailto:partners@crowdcentz.com">Email us </a>
                            </span>
                            <div id="branchBinding" style="float: right;display:none;">
                                <a class="btn btn-default btn-gray btnSmall" data-bind="click:showBranchDialoge" style="display:none;" href="#" id="btnBranchLocations">Branch Locations</a>
                            </div>

                            @*<a class="btn btn-default btn-gray btnSmall " id="btnDAM" style="    width: 100px;float:right" href="/DamImages/Grid" id="btnImageLibrary">Image Library</a>*@
                            <div id="phraseLibraryBinding" style="float: right;display:none;">
                                <a class="btn btn-default btn-gray btnSmall" id="btnPhraseLibrary" style="display:none;" data-bind="click:showphraseLibraryDialog">Phrase Library</a>
                            </div>

                        </div>

                    </div>

                </div>

                @*<div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <span style="color:#7f8c8d;font-size:11px;">Become a territory partner <br /><a style="color:#7f8c8d;font-size:11px;" href="mailto:Cash.com">Email us: </a></span>

                        </div>
                    </div>*@
                @RenderBody()
                <!-- ko stopBinding: true -->
                @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
                <!-- /ko -->
                <div id="bindingPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Coupons/Views/Shared/_BranchDetails.cshtml");
                    }
                </div>
                <div id="bindingPhrasePartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_phraseLibrary.cshtml");
                    }
                </div>

                @*<div id="bindingUserProfilePartialViews">
                        @{
                            Html.RenderPartial("~/Areas/Common/Views/Shared/_UserProfile.cshtml");
                        }
                    </div>*@

                <div id="bindingCompanyProfilePartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_companyProfile.cshtml");
                    }
                </div>

                <div id="bindingInviteUserPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_InviteSharingUser.cshtml");
                    }
                </div>

                <div id="spinner" style="display: none">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                   
                        © Copyright @DateTime.Now.Year Cash4Ads Inc. USA. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
    @*<!-- ko stopBinding: true -->
        @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
        <!-- /ko -->*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/CSS/Slider.css" rel="stylesheet" />
    <script>
        slideShow();
        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);


        function collapseMainMenu() {

            $('#topArea').collapse('hide');
        }


        function showMainMenu() {

            $('#topArea').collapse('show');
        }
        function slideShow() {

            //Set the opacity of all images to 0
            $('#gallery a').css({opacity: 0.0});
	
            //Get the first image and display it (set it to full opacity)
            $('#gallery a:first').css({opacity: 1.0});
	
            //Set the caption background to semi-transparent
            $('#gallery .caption').css({opacity: 0.7});

            //Resize the width of the caption according to the image width
            $('#gallery .caption').css({width: $('#gallery a').find('img').css('width')});
	
            //Get the caption of the first image from REL attribute and display it
            $('#gallery .content').html($('#gallery a:first').find('img').attr('rel'))
            .animate({opacity: 0.7}, 400);
	
            //Call the gallery function to run the slideshow, 6000 = change to next image after 6 seconds
            setInterval('gallery()',6000);
	
        }

        function gallery() {
	
            //if no IMGs have the show class, grab the first image
            var current = ($('#gallery a.show')?  $('#gallery a.show') : $('#gallery a:first'));

            //Get next image, if it reached the end of the slideshow, rotate it back to the first image
            var next = ((current.next().length) ? ((current.next().hasClass('caption'))? $('#gallery a:first') :current.next()) : $('#gallery a:first'));	
	
            //Get next image caption
            var caption = next.find('img').attr('rel');	
	
            //Set the fade in effect for the next image, show class has higher z-index
            next.css({opacity: 0.0})
            .addClass('show')
            .animate({opacity: 1.0}, 1000);

            //Hide the current image
            current.animate({opacity: 0.0}, 1000)
            .removeClass('show');
	
            //Set the opacity to 0 and height to 1px
            $('#gallery .caption').animate({opacity: 0.0}, { queue:false, duration:0 }).animate({height: '1px'}, { queue:true, duration:300 });	
	
            //Animate the caption, opacity to 0.7 and heigth to 100px, a slide up effect
            $('#gallery .caption').animate({opacity: 0.7},100 ).animate({height: '100px'},500 );
	
            //Display the content
            $('#gallery .content').html(caption);
	
	
        }

    </script>
    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script src="~/Scripts/intlTelInput.min.js"></script>
    
    <script>
        //createCookie();
        require(["common/confirmation.view"]);
        require(["Layout/Layout.view"]);
        require(["PhraseLibrary/phraseLibrary.view"]);
        require(["common/userProfile.view"]);
        require(["common/companyProfile.view"]);
        require(["common/InviteUser.view"]);

        require(["common/dashboardGraphAnalytics.view"]);


        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });
         
        });

            $('#topArea').collapse();

            $("#btnPhraseLibrary").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#93bf47");
            });

            $("#phrase-libraryCloseButton").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#7f8c8d");
                $("#btnPhraseLibrary").css("border-color", "#5c6667");
            });
            $(".close").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#7f8c8d");
                $("#btnPhraseLibrary").css("border-color", "#5c6667");
            });

            $("#deals_btn").hover(function(){

                $(this).find(".panel_Image").hide();

                $(this).find(".Dealdescription_panel").show();

                $(this).find("#deal_heading").css("color","#fff");
                
                $(this).find(".plus_btn").css("cssText", "color:#fff!important;");
               
              
            },function(){
             
                $(this).find(".panel_Image").show();

                $(this).find(".Dealdescription_panel").hide();
                $(this).find("#deal_heading").css("color","rgb(103, 103, 103)");
              
                $(this).find(".plus_btn").css("cssText", "color:rgb(103, 103, 103)!important;");
            });



            $("#video_ads_btn").hover(function(){

                $(this).find(".panel_Image").hide();

                $(this).find(".Dealdescription_panel").show();
                $(this).find("#video_heading").css("color","#fff");
                // $(this).find(".videopanel").css("cssText", "padding-top:0px!important;");

                $(this).find(".plus_btn").css("cssText", "color:#fff!important;");

            },function(){
             
                $(this).find(".panel_Image").show();

                $(this).find(".Dealdescription_panel").hide();
                $(this).find("#video_heading").css("color","rgb(103, 103, 103)");
                //  $(this).find(".videopanel").css("cssText", "padding-top:15px;");
                $(this).find(".plus_btn").css("cssText", "color:rgb(103, 103, 103)!important;");
            });



            $("#display_ads_btn").hover(function(){

                $(this).find(".panel_Image").hide();

                $(this).find(".Dealdescription_panel").show();
                $(this).find("#display_heading").css("color","#fff");
                $(this).find(".plus_btn").css("cssText", "color:#fff!important;");
              
            },function(){
             
                $(this).find(".panel_Image").show();

                $(this).find(".Dealdescription_panel").hide();
                $(this).find("#display_heading").css("color","rgb(103, 103, 103)");
                $(this).find(".plus_btn").css("cssText", "color:rgb(103, 103, 103)!important;");
            });


            $("#Polls_btn").hover(function(){
                $(this).find(".plus_btn").css("cssText", "color:#fff!important;");

                $(this).find(".panel_Image").hide();

                $(this).find(".Dealdescription_panel").show();
                $(this).find("#polls_heading").css("color","#fff");
              
            },function(){
             
                $(this).find(".panel_Image").show();

                $(this).find(".Dealdescription_panel").hide();
                $(this).find("#polls_heading").css("color","rgb(103, 103, 103)");
                $(this).find(".plus_btn").css("cssText", "color:rgb(103, 103, 103)!important;");
            });



            $("#surveyQuestion_btn").hover(function(){

                $(this).find(".panel_Image").hide();

                $(this).find(".Dealdescription_panel").show();
                $(this).find("#surveysheading").css("color","#fff");
                $(this).find("#polls_heading").css("color","#fff");
                $(this).find(".plus_btn").css("cssText", "color:#fff!important;");
              
            },function(){
             
                $(this).find(".panel_Image").show();

                $(this).find(".Dealdescription_panel").hide();
                $(this).find("#surveysheading").css("color","rgb(103, 103, 103)");
                $(this).find(".plus_btn").css("cssText", "color:rgb(103, 103, 103)!important;");
            });

            $('.play_btn').hover(function () {
            
                $(this).css("cssText", "color:red!important;");
            },
           function () {
               $(this).css("cssText", "color:#676767!important;");
           
           });

            $('.plus_btn').hover(function () {

                $(this).css("cssText", "color:#fff!important;");
            },
         function () {
             $(this).css("cssText", "color:#676767!important;");

         });

        function GotoHome()
        {
            window.location.href = "/";
        }
        function GoToDeals()
        {
            window.location.href = "/Coupons/Coupons";
        }
        function GotoVideoAds()
        {
            window.location.href = "/Ads/Ads?mode=1";
        }
        function GotodisplayAds()
        {
            window.location.href = "/Ads/Ads?mode=4";
        }
        function Gotopolls()
        {
            window.location.href = "/Survey/";
        }
        function Gotosurveys()
        {
            window.location.href = "/ProfileQuestion/Manage/Index";
        }
        function OpenPhraseLibrary()
        {
            $("#btnPhraseLibrary").click();
        }
            function OpenBranchLocation() {
                $("#btnBranchLocations").click();
            }
       
            function ShowInviteUserPopup() {
                $('#btninviteusers').click();
            }
            var img = document.getElementById('logooImage');

            //alert(img.getAttribute('src')); // foo.jpg
            
            var  gCompanyLogo=img.src;
               
              //  $( "#cprofile" ).click();   
            //}

    </script>

    @RenderSection("scripts", required: false)
    
    <!-- Modal -->
    @*<div class="modal fade" id="damModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:99999999999;">
        <div class="modal-dialog" role="document" style="width:1150px;z-index:99999999999;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="DamModelclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select an Image or upload</h4>
                </div>
                <div class="modal-body">
                    <iframe src="~/DamImages?mode=1&selection=true" style="width:100%;height:600px;border:none;" id="iframe"></iframe>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>
