<<<<<<< HEAD
﻿@using SMD.Models.Common
@using SMD.Common
@{


    string classes = "";
    string classesMenu = "";


    IEnumerable<CompanyIdClaimValue> companyClaimValues = ClaimHelper.GetClaimsByType<CompanyIdClaimValue>(SmdClaimTypes.CompanyId);
    string CompanyName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyName : "Company Not Loaded";
    string CompanyLogo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyLogo : "Claim not found";


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }
    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />
    @if (HttpContext.Current.Request.IsLocal == false)
    {
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    }
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="theme-blue-gradient">
    <header class="navbar" id="header-navbar">
        <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px; background-color: black; position: absolute; margin-top: 100px;"></div>
        <div class="container" style="height:100px;">
            <a href="~/" id="header" class="cashlogox my-navigator navbar-brand logoAnchor " style="background-image: url(@Url.Content("~/Images/ads.png"))"></a>
            <a href="~/" id="beta" class="cashbeta"></a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    @*<span class="fa fa-bars"></span>*@
                </button>
                <div style="display:inline-block;margin-top:20px;">
                    <div class="pull-left" style="width:65px;height:65px;background-color:white;"><img style="width:63px;height:63px;" src="~/@CompanyLogo" /></div>
                    <div class="pull-left" style="color:white;margin-left:10px;">
                        <p style="box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white;margin-bottom:3px;display:inline-block">
                            Dashboard for
                        </p>
                        <p style="font-size:38px;">@CompanyName</p>
                    </div>
                </div>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" style="margin-top:23px;">
                    @*<span style="font-size: 3em;color:white;padding-left:200px;">Targeting Material</span>*@
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            @if (!User.IsInRole("User"))
                            {
                                @*<a class="btn" id="make-small-nav">
                                        <i class="fa fa-bars"></i>
                                    </a>*@
                            }
                            else
                            {
                                //  classes = "removeMenuMargin";
                                classesMenu = "displayNone";
                            }
                        </li>
                    </ul>
                </div>



                <div class="nav-no-collapse pull-right" id="header-nav" style="margin-top:23px;">

                    <ul class="nav navbar-nav pull-right">
                        <!-- MPC Admin Menu-->
                        <li class="dropdown profile-dropdown @classesMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs"> Admin Options  </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Approve/Reject </a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval">&nbsp;&nbsp; Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Survey/SurveyQuestionApproval">&nbsp;&nbsp;User Suvey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval?mode=2">&nbsp;&nbsp;Coupons</a></li>
                                <li><a href="">Edit</a></li>
                                <li class="inlineMenuItem"><a href="~/ProfileQuestion/Manage/Index">&nbsp;&nbsp;Profile Questions</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;Survey Questions</a></li>
                                <li><a href="">View</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/Index">&nbsp;&nbsp;All Live Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;All Live Survey Slides</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Reports and Analytics</a></li>
                                <li><a href="~/Report/Report/TransactionReport">Cash4Ads Transaction Report</a></li>
                            </ul>
                        </li>
                        <!-- Normal Menu-->
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name
                                    }
                                </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu loginMenu">
                                <li><a href="">Ad Campaigns</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/Ads/Ads">&nbsp;&nbsp;Create Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads">&nbsp;&nbsp;View Ad Campaigns</a></li>
                                <li><a href="">Survey Slides</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/survey">&nbsp;&nbsp;Create Survey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;View Survey Slides</a></li>
                                <li><a href="">Billing</a></li>
                                <li class="inlineMenuItem"><a href="~/Billing/Manage/Invoice">&nbsp;&nbsp;View Statements </a></li>
                                <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Payment Methods</a></li>
                                <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Delete My Account</a></li>
                                <li class=""><a href="~/user/ManageUser/ManageUsers">Manage users </a></li>
                                <li><a href="~/User/ManageUser/Index">Edit my marketing profile/logo</a></li>
                                <li><a href="~/">Analytics</a></li>
                                <li><a href="~/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="~/Account/LogOff">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">


            @RenderSection("leftmenue", required: false)

            @*content wrapper goes here*@
            <div id="content-wrapper" class="removeMenuMargin">
                <div class="row" id="topArea" style="margin-bottom:15px;">
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                            <a class="btn  btn-default btn-gray" style="float:left; width:33%;height:66px;margin-right:15px; white-space:normal;" id="btncampaigns" href="/Ads/Ads">Video Campaigns</a>
                            <a class="btn  btn-default btn-gray" style="float:left;width:34%;height:66px;white-space:normal;" href="/Coupons/Coupons">Coupon Promotions</a>


                        </div>
                        <div class="col-sm-7 pull-right text-right" id="branchBinding">
                            <div style="font-size:11px;width:120px;display:inline-block;height:60px;vertical-align:middle;text-align:left">
                                <a href="#">Startup Guide</a><br />
                                <a href="#">Training Videos</a><br />
                                <a href="#">Help Center</a><br />
                                <a href="#">Contact Us</a>
                            </div>

                            <a class="btn btn-default btn-gray" data-bind="click:showBranchDialoge" style="" href="#">Branch Locations</a>
                            <a class="btn btn-default btn-gray" style="" href="/Coupons/Coupons">Image Library</a>
                            <a class="btn btn-default btn-gray" data-bind="click:showphraseLibraryDialog" >Phrase Library</a>
                        </div>
                    </div>


                </div>


                @RenderBody()
                <div id="bindingPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Coupons/Views/Shared/_BranchDetails.cshtml");

                        Html.RenderPartial("~/Areas/Common/Views/Shared/_phraseLibrary.cshtml");

                    }
                </div>
                
                <div id="spinner" style="display: none">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year Powered by Cash4Ads(UK)
                    </p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>

        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);

    </script>
    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script>
        require(["Layout/Layout.view"]);
        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
=======
﻿@using SMD.Models.Common
@using SMD.Common
@{


    string classes = "";
    string classesMenu = "";


    IEnumerable<CompanyIdClaimValue> companyClaimValues = ClaimHelper.GetClaimsByType<CompanyIdClaimValue>(SmdClaimTypes.CompanyId);
    string CompanyName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyName : "Company Not Loaded";
    string CompanyLogo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyLogo : "Claim not found";


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }
    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />
    @if (HttpContext.Current.Request.IsLocal == false)
    {
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    }
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="theme-blue-gradient">
    <header class="navbar" id="header-navbar">
        <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px; background-color: black; position: absolute; margin-top: 100px;"></div>
        <div class="container" style="height:100px;">
            <a href="~/" id="header" class="cashlogox my-navigator navbar-brand logoAnchor " style="background-image: url(@Url.Content("~/Images/ads.png"))"></a>
            <a href="~/" id="beta" class="cashbeta"></a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    @*<span class="fa fa-bars"></span>*@
                </button>
                <div style="display:inline-block;margin-top:20px;">
                    <div class="pull-left" style="width:65px;height:65px;background-color:white;"><img style="width:63px;height:63px;" src="~/@CompanyLogo" /></div>
                    <div class="pull-left" style="color:white;margin-left:10px;">
                        <p style="box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white;margin-bottom:3px;display:inline-block">
                            Dashboard for
                        </p>
                        <p style="box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white;margin-bottom:3px;display:inline-block">
                            Dashboard for
                        </p>
                        <p style="font-size:38px;">@CompanyName</p>
                    </div>
                </div>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" style="margin-top:23px;">
                    @*<span style="font-size: 3em;color:white;padding-left:200px;">Targeting Material</span>*@
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            @if (!User.IsInRole("User"))
                            {
                                @*<a class="btn" id="make-small-nav">
                                        <i class="fa fa-bars"></i>
                                    </a>*@
                            }
                            else
                            {
                                //  classes = "removeMenuMargin";
                                classesMenu = "displayNone";
                            }
                        </li>
                    </ul>
                </div>



                <div class="nav-no-collapse pull-right" id="header-nav" style="margin-top:23px;">

                    <ul class="nav navbar-nav pull-right">
                        <!-- MPC Admin Menu-->
                        <li class="dropdown profile-dropdown @classesMenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs"> Admin Options  </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Approve/Reject </a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval">&nbsp;&nbsp; Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Survey/SurveyQuestionApproval">&nbsp;&nbsp;User Suvey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval?mode=2">&nbsp;&nbsp;Coupons</a></li>
                                <li><a href="">Edit</a></li>
                                <li class="inlineMenuItem"><a href="~/ProfileQuestion/Manage/Index">&nbsp;&nbsp;Profile Questions</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;Survey Questions</a></li>
                                <li><a href="">View</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/Index">&nbsp;&nbsp;All Live Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;All Live Survey Slides</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Reports and Analytics</a></li>
                                <li><a href="~/Report/Report/TransactionReport">Cash4Ads Transaction Report</a></li>
                            </ul>
                        </li>
                        <!-- Normal Menu-->
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name
                                    }
                                </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu loginMenu">
                                <li><a href="">Ad Campaigns</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/Ads/Ads">&nbsp;&nbsp;Create Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads">&nbsp;&nbsp;View Ad Campaigns</a></li>
                                <li><a href="">Survey Slides</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/survey">&nbsp;&nbsp;Create Survey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;View Survey Slides</a></li>
                                <li><a href="">Billing</a></li>
                                <li class="inlineMenuItem"><a href="~/Billing/Manage/Invoice">&nbsp;&nbsp;View Statements </a></li>
                                <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Payment Methods</a></li>
                                <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Delete My Account</a></li>
                                <li class=""><a href="~/user/ManageUser/ManageUsers">Manage users </a></li>
                                <li><a href="~/User/ManageUser/Index">Edit my marketing profile/logo</a></li>
                                <li><a href="~/">Analytics</a></li>
                                <li><a href="~/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="~/Account/LogOff">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">


            @RenderSection("leftmenue", required: false)

            @*content wrapper goes here*@
            <div id="content-wrapper" class="removeMenuMargin">
                <div class="row" id="topArea" style="margin-bottom:15px;">
                    <div class="row">
                        <div class="col-sm-5 pull-left">
                            <a class="btn  btn-default btn-gray" style="float:left; width:33%;height:66px;margin-right:15px; white-space:normal;" id="btncampaigns" href="/Ads/Ads">Video Campaigns</a>
                            <a class="btn  btn-default btn-gray" style="float:left;width:34%;height:66px;white-space:normal;" href="/Coupons/Coupons">Coupon Promotions</a>


                        </div>
                        <div class="col-sm-7 pull-right text-right" id="branchBinding">
                            <div style="font-size:11px;width:120px;display:inline-block;height:60px;vertical-align:middle;text-align:left">
                                <a href="#">Startup Guide</a><br />
                                <a href="#">Training Videos</a><br />
                                <a href="#">Help Center</a><br />
                                <a href="#">Contact Us</a>
                            </div>

                            <a class="btn btn-default btn-gray" data-bind="click:showBranchDialoge" style="" href="#">Branch Locations</a>
                            <a class="btn btn-default btn-gray" style="" href="/Coupons/Coupons">Image Library</a>
                            <a class="btn btn-default btn-gray" style="" href="/Coupons/Coupons">Phrase Library</a>
                        </div>
                    </div>


                </div>


                @RenderBody()
                <div id="bindingPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Coupons/Views/Shared/_BranchDetails.cshtml");

                    }
                </div>
                <div id="spinner" style="display: none">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year Powered by Cash4Ads(UK)
                    </p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>

        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);

    </script>
    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script>
        require(["Layout/Layout.view"]);
        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });


        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
>>>>>>> origin/dev
