@using SMD.Models.Common
@using SMD.Common
@{


    string classes = "";
    string classesMenu = "";


    IEnumerable<CompanyIdClaimValue> companyClaimValues = ClaimHelper.GetClaimsByType<CompanyIdClaimValue>(SmdClaimTypes.CompanyId);
    string CompanyName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyName : "Company Not Loaded";
    string CompanyLogo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyLogo : "Claim not found";
    string userName = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).UserName : "Claim not found";
    string MobileNo = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).MobileNumber : "Claim not found";
    string CompanyID = companyClaimValues != null && companyClaimValues.Any() ? companyClaimValues.ElementAt(0).CompanyId.ToString() : "Claim not found";
    IEnumerable<SmdRoleClaimValue> roleClaim = ClaimHelper.GetClaimsByType<SmdRoleClaimValue>(SmdClaimTypes.Role);
    
    string RoleName = roleClaim != null && roleClaim.Any() ? roleClaim.ElementAt(0).Role : "Role Not Loaded";
    var Name = string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_N_x3UhG5IHl8GUZ4y5Lj_QkNhGUh91I" type="text/javascript"></script>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }
    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="/favicon.png" rel="shortcut icon" />
    @if (HttpContext.Current.Request.IsLocal == false)
    {
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    }
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->


    <script>
        var gCompanyID = @CompanyID;

    </script>
</head>
<body class="theme-blue-gradient">
    <header class="navbar" id="header-navbar">
        <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px; background-color: black; position: absolute; margin-top: 100px;"></div>
        <div class="container" style="height:100px;">
            


            <a href="~/" id="header" class="cashlogox my-navigator navbar-brand logoAnchor " ></a>



            <a href="~/" id="beta" class="cashbeta"></a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    @*<span class="fa fa-bars"></span>*@
                </button>

                <div style="display:inline-block;margin-top:20px;width:802px;">
                    <div style="float:right;">
                        <div class="pull-left" style="display:inline-block;margin-top:20px;">
                            @*<p style="box-shadow: inset 0 0px 0 white, inset 0 -1px 0 white;margin-bottom:3px;display:inline-block;font-size:11px;">
                 Advertiser Dashboard for
                </p>*@
                            <p style="font-size:16px;color:white;">@CompanyName</p>
                        </div>
                        <div class="pull-left" style="color:white;margin-left: 10px;margin-top: 12px;margin-right: 9px;"><img style="width:87px;height:41px;    background-color: white; border: 1px solid white;" src="~/@CompanyLogo" /></div>
                    </div>
                </div>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" style="margin-top:23px;">
                    @*<span style="font-size: 3em;color:white;padding-left:200px;">Targeting Material</span>*@
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            @if (!User.IsInRole("User"))
                            {
                                @*<a class="btn" id="make-small-nav">
                                        <i class="fa fa-bars"></i>
                                    </a>*@
                            }
                            else
                            {
                                //  classes = "removeMenuMargin";
                                classesMenu = "displayNone";
                            }
                        </li>
                    </ul>
                </div>



                <div class="nav-no-collapse pull-right" id="header-nav" style="margin-top:23px;">

                    <ul class="nav navbar-nav pull-right">
                        <!-- MPC Admin Menu-->
                        <li class="dropdown profile-dropdown @classesMenu" style="display:none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs"> Admin Options  </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Approve/Reject </a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval">&nbsp;&nbsp; Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Survey/SurveyQuestionApproval">&nbsp;&nbsp;User Suvey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/AddAproval?mode=2">&nbsp;&nbsp;Coupons</a></li>
                                <li><a href="">Edit</a></li>
                                <li class="inlineMenuItem"><a href="~/ProfileQuestion/Manage/Index">&nbsp;&nbsp;Profile Questions</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;Survey Questions</a></li>
                                <li><a href="">View</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads/Index">&nbsp;&nbsp;All Live Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;All Live Survey Slides</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Reports and Analytics</a></li>
                                <li><a href="~/Report/Report/TransactionReport">Cash4Ads Transaction Report</a></li>
                            </ul>
                        </li>
                        <!-- Normal Menu-->
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                @if (!String.IsNullOrEmpty(userName))
                                {
                                    @userName;
                                   Name = userName;
                                }
                                else
                                {
                                    if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name;
                                        Name = User.Identity.Name;
                                    } 
                                }
                                    
                                    
                                </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">
                                </div>
                            </a>
                            <ul class="dropdown-menu loginMenu">

                                <li><a href="">@Name</a></li>
                                <li><a href="">@MobileNo</a></li>
                                @*<li style="height:9px;"></li>*@
                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>

                                <li><a href="">Role : @RoleName</a></li>
                                <li id="userProfileBinding"><a data-bind="click:showUserProfileDialog">Personal Profile</a></li>
                                <li id="companyProfileBinding"><a data-bind="click:showCompanyProfileDialog">Company Profile</a></li>
                                <li><a href="/User/ManageUser/ManageUsers">Invite colleagues to manage campaigns</a></li>

                                <li><a onclick="OpenBranchLocation();">Branch locations</a></li>
                                <li><a href="/DamImages/Grid">Image library</a></li>
                                <li><a onclick="OpenPhraseLibrary();">Phrase library</a></li>

                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>
                                <li><a href="~/">Analytics and Charts</a></li>
                                <li><a href="~/Billing/Manage/Invoice">Billing History</a></li>
                                @*<li class="inlineMenuItem"><a href="~/Billing/Manage/Invoice">&nbsp;&nbsp;View Invoices</a></li>
                                <li class="inlineMenuItem"><a href="">&nbsp;&nbsp;Payment Methods</a></li>*@
                                
                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>

                                <li><a href="">Delete my Account</a></li>

                                @*<li><a href="">Ad Campaigns</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/Ads/Ads">&nbsp;&nbsp;Create Ad Campaigns</a></li>
                                <li class="inlineMenuItem"><a href="~/Ads/Ads">&nbsp;&nbsp;View Ad Campaigns</a></li>
                                <li><a href="">Survey Slides</a></li>
                                <li class="inlineMenuItem" style="display:none;"><a href="~/survey">&nbsp;&nbsp;Create Survey Slides</a></li>
                                <li class="inlineMenuItem"><a href="~/survey">&nbsp;&nbsp;View Survey Slides</a></li>*@
                                
                                @*<li class=""><a href="~/user/ManageUser/ManageUsers">Invite users </a></li>*@
                               
                                <li style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;"></li>
                                <li><a href="~/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        @*<li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    <i class="fa fa-life-ring"></i>
                                </span> <b class="caret"></b>
                              
                            </a>
                            <ul class="dropdown-menu loginMenu">
                                <li><a href="">Startup Guide</a></li>
                                <li><a href="">Training Videos</a></li>
                                <li><a href="">Help Center</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </li>*@

                   
                        <li class="hidden-xxs">
                            <a  href="~/Account/LogOff">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row topMenuBtns">


            @RenderSection("leftmenue", required: false)

            @*content wrapper goes here*@
            <div id="content-wrapper" class="removeMenuMargin" >
               
                <div class="row" id="panelArea">




                    <div id="MarketobjDiv" class="col-sm-8 pull-left" style="height:46px;padding-left:0px;">
                        <div class="pull-left hideInCoupons" style=" position: absolute;top:32%;">
                            @*<span style="font-weight:bold;color:#7f8c8d;font-size:14px;">Post deals for free – </span>*@
                            <span style="color:#7f8c8d;font-size:14px;">Whats your marketing objective?</span>
                        </div>
                        <div class="pull-right hideInCoupons" style="position: absolute;margin-left: 735px;">
                            @*<div class="pull-left" style="position: absolute;margin-left: -65px;margin-top: 16px;">Help center</div>


                            <div class="pull-right">

                                <ul class="nav navbar-nav pull-right" style="width:140px;">
                                    <li class="dropdown profile-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="hidden-xs">
                                                <i class="fa fa-life-ring"></i>
                                            </span> <b class="caret"></b>

                                        </a>
                                        <ul class="dropdown-menu loginMenu">
                                            <li><a href="~/Home/StartupGuide">Startup Guide</a></li>
                                            <li><a href="~/Home/TrainingVideos">Training Videos</a></li>
                                            <li><a href="~/Home/ContactUs">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>



                            </div>*@




                        </div>

 
                    </div>
                    <div class="col-sm-4 pull-left hideInCoupons" style="height:46px;padding-left:46px;color: black;">
                       
                        <span class="line-separator"></span>
                        <div class="pull-left">
                            <span class="pull-left" style="color:#7f8c8d;font-size:13px;">Generate Income <br />Refer Businesses - <b style="color: #3498db;">Earn 25% </b></span>
                        </div>

                        <div class="pull-right" style="width:143px;">

                            <span class="pull-left" style="margin-left:11px;margin-top:16px;">Help center</span>

                            <div class="pull-right" style="width:59px;">
                                <ul class="nav navbar-nav " style="width:140px;margin-right:-6px;">
                                    <li class="dropdown profile-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="hidden-xs">
                                                <i class="fa fa-life-ring"></i>
                                            </span> <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu loginMenu">
                                            <li><a href="~/Home/StartupGuide">Startup Guide</a></li>
                                            <li><a href="~/Home/TrainingVideos">Training Videos</a></li>
                                            <li><a href="~/Home/ContactUs">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                            <div style="clear:both;"></div>
                        </div>

                        <div style="clear:both;"></div>
                    </div>

                </div>
                <div class="row" id="topArea" style="margin-left:-15px;">
                    <div class="row">
                        <div class="col-sm-8 pull-left" style="padding-top:3px;padding-left:3px;">

                            <a class="btn  btn-default btn-gray" style="float:left;width:136px;height:58px;white-space:normal;    padding-top: 18px;" href="/Coupons/Coupons" id="btnCoupons">Deals </a>
                            <a class="btn  btn-default btn-gray" style="float:left; width:136px;height:58px;padding-top:16px;margin-right:15px; white-space:normal;" id="btncampaigns" href="/Ads/Ads?mode=1">Videos ads</a>
                            <a class="btn  btn-default btn-gray" style="float:left; width:136px;height:58px;padding-top:16px;margin-right:15px; white-space:normal;" id="btnspnsergames" href="/Ads/Ads?mode=4">Display Ads</a>
                            <a class="btn  btn-default btn-gray" style="float:left;width:136px;height:58px;padding-top:16px;white-space:normal;" href="~/ProfileQuestion/Manage/Index" id="btnSurveyQuestion">Survey questions</a>
                            <a class="btn  btn-default btn-gray" style="float:left;width:136px;height:58px;padding-top:16px;white-space:normal;" href="/Survey/" id="btnSurvey">Survey cards</a>
                            

                            @*<a class="btn  btn-default btn-gray" style="float:left;width:20%;height:66px;white-space:normal;" href="~/ProfileQuestion/Manage/Index" id="btnProQuestions">Profile Questions</a>*@
                        </div>

                        <div class="col-sm-4 hideInCoupons" style="padding-left:42px;margin-top:3px;">
                            <div id="InviteUserBinding">
                                <a class="btn btn-default btn-gray" data-bind="click:showInviteUserPopup" id="btninviteusers" style="    width: 100px;float:right;margin-right:0px;">Invite<br /> Users</a>

                                </div>
                                @*<a class="btn btn-default btn-gray " href="~/ProfileQuestion/Manage/Index" id="btninviteusers" style=" width:136px;float:left;margin-right:20px;font-size:14px;padding-top:17px; height:58px;" href="#">Invite Business</a>*@

                            <a class="btn btn-default btn-gray " id="" style=" width:136px;float:left;margin-right:0px;font-size:14px;height:58px;padding-top:17px" href="~/Report/report/WalletReport">Wallet History</a>
                                
                                <br />
                                <br />
                                <br />

                                <span style="color:#7f8c8d;font-size:13px;display:none;" id="MainSpan">
                                    Become a country partner
                                    <a style="color:#7f8c8d;font-size:14px; color:#3498db; font-weight:bold;" href="mailto:partners@crowdcentz.com">Email us </a>
                                </span>
                                <div id="branchBinding" style="float: right;display:none;">
                                    <a class="btn btn-default btn-gray btnSmall" data-bind="click:showBranchDialoge" style="display:none;" href="#" id="btnBranchLocations">Branch Locations</a>
                                </div>

                                @*<a class="btn btn-default btn-gray btnSmall " id="btnDAM" style="    width: 100px;float:right" href="/DamImages/Grid" id="btnImageLibrary">Image Library</a>*@
                                <div id="phraseLibraryBinding" style="float: right;display:none;">
                                    <a class="btn btn-default btn-gray btnSmall" id="btnPhraseLibrary" style="display:none;" data-bind="click:showphraseLibraryDialog">Phrase Library</a>
                                </div>

                            </div>
                        
                        </div>

                </div>

                @*<div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4">
                        <span style="color:#7f8c8d;font-size:11px;">Become a territory partner <br /><a style="color:#7f8c8d;font-size:11px;" href="mailto:Cash.com">Email us: </a></span>

                    </div>
                </div>*@
                @RenderBody()
                <!-- ko stopBinding: true -->
                @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
                <!-- /ko -->
                <div id="bindingPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Coupons/Views/Shared/_BranchDetails.cshtml");
                    }
                </div>
                <div id="bindingPhrasePartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_phraseLibrary.cshtml");
                    }
                </div>

                <div id="bindingUserProfilePartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_UserProfile.cshtml");
                    }
                </div>

                <div id="bindingCompanyProfilePartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_companyProfile.cshtml");
                    }
                </div>

                <div id="bindingInviteUserPartialViews">
                    @{
                        Html.RenderPartial("~/Areas/Common/Views/Shared/_InviteSharingUser.cshtml");
                    }
                </div>

                    <div id="spinner" style="display: none">
                    </div>
                    <div id="siteUrl">
                    </div>
                    <footer id="footer-bar" class="row">
                        <p id="footer-copyright" class="col-xs-12">
                            &copy; @DateTime.Now.Year Powered by CASH 4 Ads Inc.,USA
                        </p>
                    </footer>
                </div>
        </div>
    </div>
    @*<!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    <!-- /ko -->*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>

        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);


        function collapseMainMenu() {
           
            $('#topArea').collapse('hide');
        }


        function showMainMenu() {

            $('#topArea').collapse('show');
        }

    </script>
    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script>

        require(["common/confirmation.view"]);
        require(["Layout/Layout.view"]);
        require(["PhraseLibrary/phraseLibrary.view"]);
        require(["common/userProfile.view"]);
        require(["common/companyProfile.view"]);
        require(["common/InviteUser.view"]);
      
        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });

            $('#topArea').collapse();
            
            $("#btnPhraseLibrary").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#93bf47");
            });
          
            $("#phrase-libraryCloseButton").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#7f8c8d");
                $("#btnPhraseLibrary").css("border-color", "#5c6667");
            });
            $(".close").click(function () {
                $("#btnPhraseLibrary").css("background-color", "#7f8c8d");
                $("#btnPhraseLibrary").css("border-color", "#5c6667");
            });
            
        });

        function OpenPhraseLibrary()
        {
            $("#btnPhraseLibrary").click();
        }
        function OpenBranchLocation() {
            $("#btnBranchLocations").click();
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
