<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    @Styles.Render("~/Content/themes/Centaurus/css/bundleCentaurus/css")
    @* commentss *@
    @* If Debuggin is Enabled then pick css *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="~/Content/less/MainSite.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Bundle/AppLess")
    }

    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="theme-blue-gradient">

    <header class="navbar" id="header-navbar">
    <div class="col-md-12 col-lg-12 col-sm-12" style="height: 4px; background-color: #fc813b; position: absolute; margin-top: 50px;"></div>

        <div class="container">

            <a href="~/Dashboard/Index" id="header" class="my-navigator navbar-brand">

                <img src="~/Content/themes/Centaurus/img/logo.png" id="header-logo" alt="" class="normal-logo logo-white" height="25" style="margin-top:5px;" />
                @*<img src="~/Content/themes/Centaurus/img/mpc_beta.jpg" id="header-logo-beta" alt="" class="normal-logo logo-white" height="18" style="margin-top:5px;margin-left:10px;" />*@
            </a>

            <div class="clearfix">

                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="nav-no-collapse pull-right" id="header-nav">
                    <ul class="nav navbar-nav pull-right">
                        @*
                            <li class="mobile-search">
                                <a class="btn">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="drowdown-search">
                                    <form role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="fa fa-search nav-search-icon"></i>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-warning"></i>
                                    <span class="count">8</span>
                                </a>
                                <ul class="dropdown-menu notifications-list">
                                    <li class="pointer">
                                        <div class="pointer-inner">
                                            <div class="arrow"></div>
                                        </div>
                                    </li>
                                    <li class="item-header">You have 6 new notifications</li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-comment"></i>
                                            <span class="content">New comment on ‘Awesome P...</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-plus"></i>
                                            <span class="content">New user registration</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-envelope"></i>
                                            <span class="content">New Message from George</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="content">New purchase</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-eye"></i>
                                            <span class="content">New order</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item-footer">
                                        <a href="#">
                                            View all notifications
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="count">16</span>
                                </a>
                                <ul class="dropdown-menu notifications-list messages-list">
                                    <li class="pointer">
                                        <div class="pointer-inner">
                                            <div class="arrow"></div>
                                        </div>
                                    </li>
                                    <li class="item first-item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-1.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    George Clooney
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-2.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    Emma Watson
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-3.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    Robert Downey Jr.
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item-footer">
                                        <a href="#">
                                            View all messages
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a class="btn">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>*@

                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name
                                    }
                                </span> <b class="caret"></b>
                                <div class="user-positioner" style="position:fixed;">

                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="btnTakeATour">Take a Tour </a></li>
                                <li><a href="http://blog.myprintcloud.com/tutorials-quickstart/" target="_blank">Self Paced Tutorials</a></li>
                                <li><a href="https://www.youtube.com/watch?v=qx-GlaBZP1U" target="_blank">Attend Webinar</a></li>
                                <li><a href="http://www.youtube.com/user/myprintcloud" target="_blank">How To Videos</a></li>
                                @*<li><a href="https://myprintcloud.zendesk.com/hc/en-us" target="_blank">Technical FAQs</a></li>*@
                                <li><a href="http://myprintcloud.com/FAQs" target="_blank">Billing and Licensing FAQs</a></li>
                                @*<li><a href="https://myprintcloud.zendesk.com/hc/en-us/requests/new" target="_blank">Log a support Ticket</a></li>*@
                                <li><a href="https://myprintcloud.com/dashboard">Change your Plan</a></li>
                                <li><a href="https://myprintcloud.com/Dashboard/EditProfile"><i class="fa fa-user"></i>Profile</a></li>

                                <li><a href="~/Home/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="~/Home/Logout">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header>
  
    <div id="page-wrapper" class="container">
        
        <div class="row">
            <div id="nav-col" style="margin-top: 4px;">


                @*<a id="menu-logo" href="~/Dashboard/Index">
                        <img src="~/Content/themes/Centaurus/img/logo.png" alt="" class="normal-logo logo-white" height="30" width="180" style="margin-left:17px;margin-top:50px;margin-bottom:50px;" />
                    </a>*@
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">

                        @RenderSection("leftmenue", required: false)

                        @* Test left menue starts here*@
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked" id="Navigation-bar">
                                <li id="lidashboard">
                                    <a href="~/Dashboard/Index" class="my-navigator" id="anchor-dashboard">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>

                                </li>
                                <li id="licrm">
                                    <a href="~/CRM/Home/Contacts" class="my-navigator">
                                        <i class="fa fa-users"></i>
                                        <span>CRM</span>
                                    </a>
                                </li>
                                @*<li id="licrm">
                                        <a href="~/CRM/Home/Calendar" class="my-navigator">
                                            <i class="fa fa-users"></i>
                                            <span>E-Marketing</span>
                                        </a>
                                    </li>*@
                                <li id="listores">
                                    <a href="~/Stores/Stores/Index" class="my-navigator">
                                        <i class="fa fa-th-large"></i>
                                        <span>Stores</span>
                                    </a>
                                </li>

                                <li id="liestimating">
                                    <a href="~/Orders/Home/EstimatesList" class="my-navigator">
                                        <i class="fa  fa-fax"></i>
                                        <span>Estimating</span>
                                    </a>

                                </li>
                                <li id="liorderprocessing">
                                    <a href="~/Orders/Home" class="my-navigator">
                                        <i class="fa  fa-cubes"></i>
                                        <span>Orders Processing</span>
                                    </a>

                                    @*@Html.Action("OrderMenuItems", "Home", new { area = "" })*@

                                </li>
                                <li id="liproduction">
                                    <a href="~/Production/Home/Index" class="my-navigator">
                                        <i class="glyphicon glyphicon-list-alt" style="margin-top:14px;"></i>
                                        <span>Production Boards</span>
                                    </a>
                                </li>
                                <li id="libilling">
                                    <a href="~/Invoices/Home/Index" class="my-navigator">
                                        <i class="glyphicon glyphicon-file" style="margin-top:14px;"></i>
                                        <span>Invoicing</span>
                                    </a>
                                    @*<a href="#" class="dropdown-toggle">
                                            <i class="fa fa-users"></i>
                                            <span>Billing & Invoicing</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li class="left15pxback">
                                                <a href="~/Billing/InvoicesList" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>All</span>
                                                    <span class="label label-primary label-circle pull-right">20</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="~/Billing/InvoicesList" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Awaiting</span>
                                                    <span class="label label-primary label-circle pull-right">09</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="~/Billing/InvoicesList" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Posted</span>
                                                    <span class="label label-primary label-circle pull-right">05</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="#" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Cancelled</span>
                                                    <span class="label label-primary label-circle pull-right">02</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="#" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Archived</span>
                                                    <span class="label label-primary label-circle pull-right">03</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="#" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Pro-Forma</span>
                                                    <span class="label label-primary label-circle pull-right">01</span>
                                                </a>
                                            </li>
                                        </ul>*@
                                </li>
                                <li id="lishipping">
                                    <a href="~/DeliveryNotes/Home/DeliveryNote" class="my-navigator">
                                        <i class="fa  fa-send-o"></i>
                                        <span>Shipping</span>
                                    </a>
                                    @*<a href="#" class="dropdown-toggle">
                                            <i class="fa fa-joomla"></i>
                                            <span>Shipping & Delivery</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li class="left15pxback">
                                                <a href="~/DeliveryNotes/Home/DeliveryNote" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Awaiting</span>
                                                    <span class="label label-primary label-circle pull-right">11</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="~/DeliveryNotes/Home/DeliveryNote" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>Delivered</span>
                                                    <span class="label label-primary label-circle pull-right">09</span>
                                                </a>
                                            </li>
                                        </ul>*@
                                </li>
                                <li id="lipurchases">
                                    <a href="~/Orders/Home/PurchaseOrders" class="my-navigator">
                                        <i class="fa  fa-inbox"></i>
                                        <span>Purchase Orders</span>
                                    </a>
                                    @*<a href="#" class="dropdown-toggle">
                                            <i class="fa  fa-paper-plane"></i>
                                            <span>Purchase Orders</span>
                                            <i class="fa fa-chevron-circle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li class="left15pxback">
                                                <a href="~/Orders/Home/PurchaseOrders" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>GRN</span>
                                                    <span class="label label-primary label-circle pull-right">11</span>
                                                </a>
                                            </li>
                                            <li class="left15pxback">
                                                <a href="~/Orders/Home/PurchaseOrdersPO" class="my-navigator">
                                                    <i class="fa fa-table"></i>
                                                    <span>PO</span>
                                                    <span class="label label-primary label-circle pull-right">09</span>
                                                </a>
                                            </li>
                                        </ul>*@
                                </li>


                                @*<li id="liinventory">
                                        <a href="~/Settings/MIS/Inventory" class="my-navigator">
                                            <i class="fa fa-tasks"></i>
                                            <span>Paper & Inks</span>
                                        </a>
                                    </li>*@
                                <li id="lisettings">
                                    <a href="~/Settings" class="my-navigator">
                                        <i class="fa fa-wrench"></i>
                                        <span>Settings</span>
                                    </a>
                                    @*<ul class="submenu">
                                            <li id="listOrganization">
                                                <a href="~/Settings/Home/MyOrganization" class="my-navigator">
                                                    <i class="fa fa-institution"></i>
                                                    <span>My Organization</span>
                                                </a>
                                            </li>
                                            <li id="listMachines">
                                                <a href="~/Settings/Home/MachinesList" class="my-navigator">
                                                    <i class="fa fa-print"></i>
                                                    <span>Machines</span>
                                                </a>
                                            </li>
                                            <li id="listMachineLookUps">
                                                <a href="~/Settings/Home/LookupMethods" class="my-navigator">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                    <span>Machine Lookups</span>
                                                </a>
                                            </li>
                                            <li id="listCostCenters">
                                                <a href="~/Settings/MIS/CostCenters" class="my-navigator">
                                                    <i class="fa fa-money"></i>
                                                    <span>Cost Centers</span>
                                                </a>
                                            </li>
                                            <li id="listDeliveryMethods">
                                                <a href="~/Settings/Home/DeliveryCostCentres" class="my-navigator">
                                                    <i class="fa fa-envelope-square"></i>
                                                    <span>Delivery Methods</span>
                                                </a>
                                            </li>
                                            <li id="listDeliveryCarriers">
                                                <a href="~/Settings/Home/DeliveryCarrier" class="my-navigator">
                                                    <i class="fa fa-truck"></i>
                                                    <span>Delivery Carriers</span>
                                                </a>
                                            </li>


                                            <li>
                                                <a href="~/Settings/MIS/PaperSheet" class="my-navigator">
                                                    <i class="fa fa-clipboard"></i>
                                                    <span>Paper Sizes</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/Settings/MIS/InventoryCategory" class="my-navigator">
                                                    <i class="fa fa-cubes"></i>
                                                    <span>Inventory Categories</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/Settings/MIS/SalesPipeLine" class="my-navigator">
                                                    <i class="fa fa-pagelines"></i>
                                                    <span>Sales & Pipeline</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/Settings/MIS/SectionFlags" class="my-navigator">
                                                    <i class="fa fa-flag-checkered"></i>
                                                    <span>Section Flags</span>
                                                </a>
                                            </li>
                                            <li id="liprefixes">
                                                <a href="~/Settings/MIS/Prefixes" class="my-navigator">
                                                    <i class="fa fa-sort-numeric-asc"></i>
                                                    <span>Start Numbers</span>
                                                </a>
                                            </li>
                                            <li id="liPhrases">
                                                <a href="~/Settings/Home/PhraseLibrary" class="my-navigator">
                                                    <i class="fa fa-paw"></i>
                                                    <span>Phrase Library</span>
                                                </a>
                                            </li>
                                            <li id="liImportExport">
                                                <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                    <i class="fa fa-download"></i>
                                                    <span>Import Export</span>
                                                </a>
                                            </li>
                                            <li id="liArchived">
                                                <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                    <i class="fa fa-archive"></i>
                                                    <span>Archived</span>
                                                </a>
                                            </li>

                                            <li id="liMyReports">
                                                <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                    <i class="fa fa-file-text"></i>
                                                    <span>My Reports</span>
                                                </a>
                                            </li>

                                            <li id="liReportBanner">
                                                <a href="~/Settings/MIS/ReportBanner" class="my-navigator">
                                                    <i class="fa fa-file-text"></i>
                                                    <span>Report Banner</span>
                                                </a>
                                            </li>


                                        </ul>*@
                                </li>
                            </ul>
                        </div>
                        @* Test Left menue ends here*@
                    </div>

                </section>
            </div>
            @*content wrapper goes here*@
            <div id="content-wrapper">
                @RenderBody()
                <div id="spinner" style="display: none">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year Powered by <a href="http://www.myprintcloud.com/" target="_blank">SMD</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script>

        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);

    </script>

    @Scripts.Render("~/Bundle/BaseLibs")
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    @Scripts.Render("~/Bundle/CentaurusLibs")
    <script>
        $(document).ready(function () {
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });
            

        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
